<h4>Payments</h4>
<div class="main-divider"></div>
<div class="content">
  <app-card>
    <div class="card-item">
      <div class="card-left">
        <img src="../../../assets/img/momo1.jpg" alt="MoMo Payment">
        <p>MoMo Payment</p>
      </div>
      <img id="icon" src="../../../assets/img/right_icon-icons.com_61212.png" alt="right arrow icon">
    </div>
    <div class="main-divider"></div>
    <div class="card-item">
      <div class="card-left">
        <img src="../../../assets/img/wallet_money_icon_143270.png" alt="Cash Payment">
        <p>Cash Payment</p>
      </div>
      <img id="icon" src="../../../assets/img/right_icon-icons.com_61212.png" alt="right arrow icon">
    </div>
    <div class="main-divider"></div>
    <div class="card-item">
      <div class="card-left">
        <img src="../../../assets/img/cheque1.jpg" alt="Cheque Payment">
        <p>Cheque Payment</p>
      </div>
      <img id="icon" src="../../../assets/img/right_icon-icons.com_61212.png" alt="right arrow icon">
    </div>
  </app-card>
</div>

