<div class="container">
  <h1>smartCover</h1>
  <div class="container-inner">
    <div class="left">
      <h1 id="left-heading">Create Quote Instantly</h1>
      <span>Products</span>
      <div class="menu-items">
        <div class="item" (click)="route('motorinsurance')">
          <img src="../../assets/img/motoricon.png" alt="">
          <p>Motor Insurance</p>
        </div>
        <div class="item">
          <img src="../../assets/img/homeicon.png" alt="">
          <p>Home Insurance</p>
        </div>
        <div class="item">
          <img src="../../assets/img/travelicon.png" alt="">
          <p>Travel Insurance</p>
        </div>
      </div>
    </div>
    <div class="login-form">
      <h1>{{formtitle}}</h1>
      <div class="form-input">
        <input type="text" placeholder="Phone Number" *ngIf="formtitle==='Customer Login'">
        <input type="text" placeholder="Agent ID" *ngIf="formtitle==='Agent Login'">
      </div>
      <div class="form-input">
        <input type="password" placeholder="Pin" *ngIf="formtitle==='Customer Login'">
        <input type="password" placeholder="Pin" *ngIf="formtitle==='Agent Login'">
      </div>
      <button (click)="login()"> Login </button>
      <p id="formstate" (click)="show()">{{formstate}}</p>

      <div class="forgotten-password">
        <p (click)="createAccount()">Create Account</p>
        <p id="forgotten">Forgot Password?</p>
      </div>
    </div>
  </div>
</div>