<div class="container">
  <h1>smartCover</h1>
  <div class="container-inner">
    <div class="left">
      <h1 id="left-heading">Create Quote Instantly</h1>
      <span>Products</span>
      <div class="menu-items">
        <div class="item" (click)="route('motorinsurance')">
          <img src="../../assets/img/motoricon.png" alt="">
          <p>Motor Insurance</p>
        </div>
        <div class="item">
          <img src="../../assets/img/homeicon.png" alt="">
          <p>Home Insurance</p>
        </div>
        <div class="item">
          <img src="../../assets/img/travelicon.png" alt="">
          <p>Travel Insurance</p>
        </div>
      </div>
    </div>
    <div class="login-form {{ submitstate }}" *ngIf="formtype==='login'">
      <app-notification [message]="notification.message" [type]="notification.type" *ngIf="notification.show" (emitterfn)='closenotification($event)'></app-notification>
      <h1>{{formtitle}}</h1>
      <div class="form-input">
        <input type="text" name="phone" [(ngModel)]="user.phone" placeholder="Phone Number" *ngIf="formtitle==='Customer Login'">
        <input type="text" name="id" [(ngModel)]="user.id" placeholder="Adent ID" *ngIf="formtitle==='Agent Login'">
      </div>
      <div class="form-input">
        <input type="password" name="pin" [(ngModel)]="user.pin" placeholder="Pin">
      </div>
      <button (click)="login('client')" *ngIf="formtitle==='Customer Login'"> Log In </button>
      <button (click)="login('agent')" *ngIf="formtitle==='Agent Login'"> Log In </button>
      <div class="forgotten-password">
        <p (click)="changeform('createaccount')">Create Account</p>
        <p id="forgotten">Forgot Password?</p>
      </div>
      <p id="formstate" (click)="show()">{{formstate}}</p>
    </div>
    <div class="create-account {{ submitstate }}" *ngIf="formtype==='createaccount'">
      <app-notification [message]="notification.message" [type]="notification.type" *ngIf="notification.show" (emitterfn)='closenotification($event)'></app-notification>
      <h1>Create Account</h1>
      <form [formGroup]="form" (ngSubmit)="makerequest('create_account')">
        <div class="create">
          <div class="form-input">
            <input type="text" name="first_name" formControlName="first_name" placeholder="Firstname">
          </div>
          <div class="form-input">
            <input type="text" name="last_name" formControlName="last_name" placeholder="Lastname">
          </div>
          <div class="form-input">
            <input type="text" name="email" formControlName="email" placeholder="Email">
          </div>
          <div class="form-input">
            <input type="text" name="pin" formControlName="pin" placeholder="Pin">
          </div>
          <div class="form-input">
            <select formControlName="idtype">
              <option value="" selected disabled>ID Type</option>
              <option value="{{idtype}}" *ngFor="let idtype of idtypes">{{idtype}}</option>
            </select>
          </div>
          <div class="form-input">
            <input type="text" name="idNumber" formControlName="idNumber" placeholder="ID Number">
          </div>
          <div class="form-input" >
            <input type="date" name="dob" formControlName="dob" placeholder="Date of Birth">
          </div>
          <div class="form-input">
            <select formControlName="gender">
              <option value="" selected disabled>Gender</option>
              <option value="{{gen}}" *ngFor="let gen of gender">{{gen}}</option>
            </select>
          </div>
          <div class="form-input">
            <textarea type="text" name="res_address" formControlName="res_address" placeholder="Residential Address"></textarea>
          </div>
          <div class="form-input">
            <textarea type="text" name="postal_address" formControlName="postal_address" placeholder="Postal Address"></textarea>
          </div>          
        </div>
        <div class="forgotten-password">
          <button>Create</button>
        </div>
      </form>
      <button id="back" (click)="changeform('login')">Back to Login</button>
    </div>
  </div>
</div>