<div class="container">
  <h1>smartCover</h1>
  <div class="container-inner">
    <div class="left">
      <h1 id="left-heading">Create Quote Instantly</h1>
      <span>Products</span>
      <div class="menu-items">
        <div class="item" (click)="route('motorinsurance')">
          <img src="../../assets/img/motoricon.png" alt="">
          <p>Motor Insurance</p>
        </div>
        <div class="item">
          <img src="../../assets/img/homeicon.png" alt="">
          <p>Home Insurance</p>
        </div>
        <div class="item">
          <img src="../../assets/img/travelicon.png" alt="">
          <p>Travel Insurance</p>
        </div>
      </div>
    </div>
    <div class="login-form {{ submitstate }}">
      <app-notification [message]="notification.message" [type]="notification.type" *ngIf="notification.show" (emitterfn)='closenotification($event)'></app-notification>
      <h1>{{formtitle}}</h1>
      <div class="form-input">
        <input type="text" name="phone" [(ngModel)]="user.phone" placeholder="Phone Number" *ngIf="formtitle==='Customer Login'">
        <input type="text" name="id" [(ngModel)]="user.id" placeholder="Adent ID" *ngIf="formtitle==='Agent Login'">
      </div>
      <div class="form-input">
        <input type="password" name="pin" [(ngModel)]="user.pin" placeholder="Pin">
      </div>
      <button (click)="login('client')" *ngIf="formtitle==='Customer Login'"> Log In </button>
      <button (click)="login('agent')" *ngIf="formtitle==='Agent Login'"> Log In </button>
      <div class="forgotten-password">
        <p>Create Account</p>
        <p id="forgotten">Forgot Password?</p>
      </div>
      <p id="formstate" (click)="show()">{{formstate}}</p>
    </div>
  </div>
</div>