


.page {
    background: #fff;
     box-shadow: 0 2px 0 0 rgba(112, 112, 112, 0.1),0 0 2px 0 rgba(245, 242, 247, 0.6);
    margin-top: 30px;
    padding: 10px 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // background: red;
}


// .profile{
//     display:flex;
//     flex-direction: column;
//     align-items:center;
// }

.left-side {
    height: 300px;
    width: 300px;
    background-color: #fff;
    display: flex;
    justify-content: justify;
    align-items: justify;
    flex-direction: column;
    padding: 15px;
    color: #a29a9a;
    font-size: 1.0rem;
    img {
        height: 60px;
        width: 60px;
    }
}

.right{
     //display:flex;
     justify-content: justify;
}

.info {
    flex: 0.6;
    p{
        font-size: 1.2rem;
        margin-bottom: 0.6rem;
    }
}
.info-form {
    //box-shadow: 0 2px 0 0 rgba(255, 255, 255, 0.1),0 0 2px 0 rgba(38, 163, 252, 0.6); //,0 1px 2px 0 rgba(55, 66, 75, 0.6);
    padding: 15px 10px;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
}

.card{
    box-shadow: 0 2px 0 0 rgba(112, 112, 112, 0.1),0 0 2px 0 rgba(245, 242, 247, 0.6);
    width: 320px;
    height: 79px;
    align-items: center;
}

.form-input{
    background-color: #faf5f5;
    margin:15px;
    height: 80px;
    display: flex;
    flex-direction:row;
    align-items: center;
    border-radius: 0.8em;
    cursor: pointer;
    img{
        margin:2em;
        height:50px;
        width:50px;
    }
    h3{
        color:#fff;
        margin:15px;
        font-weight: normal;
        font-size: 1.2em;
    }
}
.quote{
    background-color: #3BCCD8;
}

.verify{
    background-color: #FF8C8D;
}
.pay{
    background-color: #1C8EE3;
}

.transact{
    background-color: #FFA664;
}

.main-page{
display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}