<h4>Buy Policy</h4>
<div class="main-divider"></div>

<br>
<div class="content">
    <app-card>
      <div class="card-item" (click)="buynewPolicy()">
        <div class="card-left">
          <img src="../../../assets/img/new.png" alt="new policy">
          <p>Buy New Policy</p>
        </div>
        <img id="icon" src="../../../assets/img/right_icon-icons.com_61212.png" alt="right arrow icon">
      </div>
      <div class="main-divider"></div>
      <div class="card-item" (click)="renewPolicy()">
        <div class="card-left">
          <img src="../../../assets/img/renew.png" alt="renew policy">
          <p>Renew Policy</p>
        </div>
        <img id="icon" src="../../../assets/img/right_icon-icons.com_61212.png" alt="right arrow icon">
      </div>
     
    </app-card>
  </div>
  