<div class="container">
  <header>
    <div class="brand">
      smartCover
    </div>
    <div class="header-items">
      <div class="header-item">View Quote</div>
      <div class="header-item">Payment</div>
      <div class="header-item">Transactions</div>
      <div class="header-item">
        <img src="../../../assets/img/user-icon.png" alt="user">
      </div>
    </div>
  </header>
  <div class="page">
    <aside>
      <div class="profile">
        <img src="../../../assets/img/profile.jpg" alt="">
        <h4>Oboshie</h4>
        <h3>CUS-187489</h3>
      </div>
      <div class="divider"></div>
      <div class="aside-items">
        <div class="aside-item">
          <h3>Policies</h3>
          <div class="item">
            <img src="../../../assets/img/buy-16.png" alt="buy">
            <p id="active">Buy Policy</p>
          </div>
          <div class="item">
            <img src="../../../assets/img/buy-2-16.png" alt="buy">
            <p>Review Policy</p>
          </div>
          <div class="item">
            <img src="../../../assets/img/text-file-5-16.png" alt="buy">
            <p>My Policies</p>
          </div>
        </div>
        <div class="divider"></div>
        <div class="aside-item">
          <h3>Claims</h3>
          <div class="item">
            <img src="../../../assets/img/add-user-2-16.png" alt="buy">
            <p>Make a new claim</p>
          </div>
          <div class="item">
            <img src="../../../assets/img/outline-16.png" alt="buy">
            <p>My claim status</p>
          </div>
          <div class="item">
            <img src="../../../assets/img/text-file-5-16.png" alt="buy">
            <p>My Claims</p>
          </div>
        </div>
        <div class="divider"></div>
        <div class="aside-item">
          <h3>Other</h3>
          <div class="item">
            <img src="../../../assets/img/checked-user-16.png" alt="buy">
            <p>My sticker</p>
          </div>
          <div class="item">
            <img src="../../../assets/img/check-mark-3-16.png" alt="buy">
            <p>Notification</p>
          </div>
          <div class="item">
            <img src="../../../assets/img/user-3-16.png" alt="buy">
            <p>Settings</p>
          </div>
        </div>
      </div>
    </aside>
    <main>
      <router-outlet></router-outlet>
    </main>
  </div>
</div>