<div class="container">
  <header>
    <div class="brand">

    </div>
    <div class="header-items">
      <div class="header-item">View Quote</div>
      <div class="header-item">Payment</div>
      <div class="header-item">Transactions</div>
      <div class="header-item">
        <img src="../../../assets/img/user-icon.png" alt="user">
      </div>
    </div>
  </header>
  <div class="page">
    <aside>

    </aside>
    <main>
      <router-outlet></router-outlet>
    </main>
  </div>
</div>