// .messages {
//     // padding: 15px;
//     // width: 500px;
//     // display: flex;
//     // align-items: center;
//     // justify-content: center;
//     // flex-direction: column;
// }

.close {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}
.message {
    padding: 10px;
    border-radius: 5px;
}

.danger {
    background: #fff5f5; 
    color: #9b2c2c;
}