// .messages {
    // padding: 15px;
    // width: 500px;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // flex-direction: column;
    // z-index: 9999;
// }

.close {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}
.message {
    padding: 10px;
    border-radius: 5px;
    z-index: 3;
    transition: all 5s;
}

.danger {
    background: #fff5f5; 
    color: #9b2c2c;
    z-index: 3;
    transition: all 5s;
}